@page
@model MyApp.Namespace.AddTureModel
@{
}
<form action="/Ture">
<button type="submit">
    Prikazi sve ture
</button>
</form>
<h3>Dodajte novu turu:</h3>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label>@Model.ErrorMessage</label>
    <div>
        <label>Ime ture:<input asp-for="JednaTura.NazivTure"></label>
    </div>
    <table class="table" border="1" frame"hsides" rules="rows">
            <thead>
                <tr>
                <th scope="col">Naziv Znamenitosti</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <form method="get">
            @foreach (var znamenitost in Model.SveZnamenitosti){
                <tbody>
                    <tr>
                        <td>@znamenitost.NazivZnamenitosti</td>
                        <td><button class="btn btn-primary" asp-route-id="@znamenitost.IdZnamenitosti" asp-page-handler="DodajZnamenitost">Dodaj u turu</button></td>
                    </tr>
                </tbody>
            }
            </form>
        </table>
    <p>Izaberite vodica koji ce da vodi turu:</p>
        <table class="table" border="1" frame"hsides" rules="rows">
            <thead>
                <tr>
                <th scope="col">Ime Vodica</th>
                <th scrope="col">Prezime Vodica</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <form method="get">
            @foreach (var vodic in Model.SviVodici){
                <tbody>
                    <tr>
                        <td>@vodic.ImeVodica</td>
                        <td>@vodic.PrezimeVodica</td>
                        <td><button class="btn btn-primary" asp-route-id="@vodic.IdVodica" asp-page-handler="DodajVodica">Dodaj vodica</button></td>
                    </tr>
                </tbody>
            }
            </form>
        </table>
    <div>
        <p>Unesite datum kada ce se tura odrzavati: </p>
        <div>Datum odrzavanja:  <input asp-for="JednaTura.DatumOdrzavanja" /></div>
        <p>Unesite vreme kada ce se tura odrzavati: </p>
        <div>Vreme odrzavanja: <input asp-for="JednaTura.VremeOdrzavanja"/></div>>
    </div>
    <div>
        <p>Unesite opis ture:</p>
    </div>
    <div>
        <button type="submit" class="btn2 btn-primary">KREIRAJ TURU</button>
    </div>
</form>