@page
@model Projekat_1.DeletePitanjeModel

@{
    ViewData["Title"] = "DeletePitanje";
}


<h3>Da li ste sigurni da zelite da obrisete odabrano pitanje?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pitanja.PitanjeTekst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pitanja.PitanjeTekst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pitanja.Opa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pitanja.Opa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pitanja.Opb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pitanja.Opb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pitanja.Opc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pitanja.Opc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pitanja.Tacan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pitanja.Tacan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pitanja.Kviz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pitanja.Kviz.NazivKviza)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pitanja.IdPitanje" />
        <input type="submit" value="Obrisi" class="btn btn-danger" /> |
        <a asp-page="./Pitanja">Ne,vrati se na listu pitanja</a>
    </form>
</div>
