@page
@model Projekat_1.HallOfFameModel
@{
    ViewData["Title"]="Hall Of Fame";
   
}

<h1>
  <form>
    <button class="uradi" asp-page="./Kvizovi">Uradi kviz</button>
  </form>
  <p>Hall Of Fame</p>
  <img src="https://securityintelligence.com/wp-content/uploads/2017/04/thinkstockphotos-612408736-630x330.jpg" style="border-radius: 25%" alt="Hall of fame" width="250" height="200">
  
</h1>


<table class="table table-striped table-border table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallOfFame[0].ImeTuriste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallOfFame[0].PrezimeTuriste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallOfFame[0].BrojPoena)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var ucesnik in Model.HallOfFame) {
        <tr>
            <td>
              @ucesnik.ImeTuriste
            </td>
            <td>
              @ucesnik.PrezimeTuriste)
            </td>
            <td>
               @ucesnik.BrojPoena)
            </td>
        </tr>
}
    </tbody>
</table>