@page
@model Projekat_1.HallOfFameModel
@{
    ViewData["Title"]="Hall Of Fame";
}

<div class="text-left">
        <h1>@ViewData["Title"]</h1>
    </div>

 <div class="uradi">
<a asp-page="./Kvizovi/">Uradi kviz</a></td>
 </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Redni broj</th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
      <th scope="col">Broj Poena</th>
    </tr>
  </thead>
  <form method="get">
    @foreach (var ucesnik in Model.SviUcesnici)
    {
        <tbody>
    <tr>
      <th scope="row"> @ucesnik.RedniBroj</th>
      <td>@ucesnik.ImeTuriste</td>
      <td>@ucesnik.PrezimeTuriste</td>
      <td>@ucesnik.BrojPoena</td>
    </tr>
        </tbody>
    }
</form>
</table>
