@page
@model Projekat_1.JedanVodicModel
@{
ViewData["Title"] = "Vodic";
}

<form method="get">
    <div>ID vodica: @Model.TrenutniVodic.IdVodica</div>
    <div>Ime vodica: @Model.TrenutniVodic.ImeVodica</div>
    <div>Prezime vodica: @Model.TrenutniVodic.PrezimeVodica</div>
    <div>Pol: @Model.TrenutniVodic.Pol</div>
    <div> Broj telefona: @Model.TrenutniVodic.BrojTelefona</div>

    <button type="submit" class="btn btn-primary" asp-page="./OceniVodica">Oceni Vodica</button>
</form>