@page
@model Projekat_1.JedanKvizModel
@{
 ViewData["Title"]="JedanKviz";
}


<form>
  <ol type="1">
    @foreach (var pitanje in Model.SvaPitanja)
    {
      
        
         <li>
           @pitanje.TekstPitanja
           <input type="hidden" name="IdPitanje" value="@pitanje.IdPitanje"/>
           <ol type="a">
     @foreach (var odgovor in Model.SviOdgovori)
    {
       if(@odgovor.PitanjeId==@pitanje.IdPitanje)
       {
         <li>
         <input type="radio" name="pitanje_@pitanje.IdPitanje" value="@odgovor.IdOdgovor"/>  
         @odgovor.TekstOdg
         </li>
       }
              
    }
    </ol>
        </li>
    }
    </ol>
    <input type="submit" value="Rezultat"/>
           
</form>