@page
@model Projekat_1.JedanKvizModel
@{
 ViewData["Title"]="JedanKviz";
}


<form>
  <ol type="1">
    @foreach (var pitanje in Model.SvaPitanja)
    {
      
        
         <li>
           @pitanje.Tekstpitanja
           <input type="hidden" name="Idpitanje" value="@pitanje.Idpitanje"/>
           <ol type="a">
     @foreach (var odgovor in Model.SviOdgovori)
    {
       if(@odgovor.Pitanjeid==@pitanje.Idpitanje)
       {
         <li>
         <input type="radio" name="pitanje_@pitanje.Idpitanje" value="@odgovor.Idodgovor"/>  
         @odgovor.Tekstodg
         </li>
       }
              
    }
    </ol>
        </li>
    }
    </ol>
    <input type="submit" value="Rezultat"/>
           
</form>