@page
@model Projekat_1.JednaRezervacijaModel
@{

}

<form method="get">
    <div>ID rezervacije: @Model.TrenutnaRezervacija.IdRezervacije</div>
    <div>ID turiste: @Model.TrenutnaRezervacija.IdTuristeRez</div>
    <div>ID vodica: @Model.TrenutnaRezervacija.IdVodicaRez</div>
    <div>Broj osoba: @Model.TrenutnaRezervacija.BrojOsoba</div>
    <div> Datum izvodjenja: @Model.TrenutnaRezervacija.DatumIzvodjenja</div>
</form>