@page
@model Projekat_1.ListaTuristaUzRezervacijuModel
@{
    ViewData["Title"]="Lista turista";
}

<form method="get">

    <div>Tura: @Model.ImeTure.</div>
    <div>Vodic: @Model.VodicUzRezervaciju.ImeVodica @Model.VodicUzRezervaciju.PrezimeVodica.</div>
    <table class="table">
        <thead>
            <th scope="col">Redni broj</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
        </thead>
    @foreach (var turista in Model.ListaTuristaUzRezervaciju)
    {
        <tr>
            <td>@Model.ListaTuristaUzRezervaciju.IndexOf(turista)</td>
            <td>@turista.ImeTuriste</td>
            <td>@turista.PrezimeTuriste</td>
        </tr>                
    } 
    </table>   
</form>
