@page
@model Projekat_1.PitanjaModel

@{
    ViewData["Title"] = "Pitanja";
}

<h1>Lista svih pitanja</h1>

<p>
    <a asp-page="AddPitanje">Dodaj pitanje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pitanja[0].PitanjeTekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitanja[0].Opa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitanja[0].Opb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitanja[0].Opc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitanja[0].Tacan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitanja[0].Kviz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var pitanje in Model.Pitanja) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => pitanje.PitanjeTekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pitanje.Opa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pitanje.Opb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pitanje.Opc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pitanje.Tacan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pitanje.Kviz.NazivKviza)
            </td>
            <td>
                <a asp-page="./EditPitanje" asp-route-id="@pitanje.IdPitanje">Izmeni</a>
                <a asp-page="./DeletePitanje" asp-route-id="@pitanje.IdPitanje">Obrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
