@page
@model Projekat_1.PitanjaModel
@{
    ViewData["Title"] = "Pitanja";
}

<form> 
    <a asp-page="./AddPitanje/" >Dodaj pitanje</a>
</form>
<form>
    <a asp-page="./AddOdgovor/">Dodaj odgovor</a>
</form>

<table class="table table-striped table-dark table-bordered" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">ID pitanja</th>
      <th scope="col">Tekst pitanja</th>
      <th scope="col">ID kviza</th> 
      <th scope="col">Odgovori</th>
        <th scope="col">Brisanje</th>
    </tr>
  </thead>
  <form method="post">
    @foreach (var pitanje in Model.SvaPitanja)
    {
        <tbody>
    <tr>
      <td>@pitanje.Idpitanje</td>
      <td>@pitanje.Tekstpitanja</td>
      <td>@pitanje.Kvizid</td>
      <td> <button type="submit" class="pitanje" asp-page="./Odgovori/" asp-route-id="@pitanje.Idpitanje">Prikazi odgovore</button></td>
      <td> <button type="submit" class="pitanje" asp-route-id="@pitanje.Idpitanje" asp-page-handler="Obrisi">Obrisi pitanje</button>  </td>
    </tr>
        </tbody>
    }
</form>
</table>
