@page
@model Projekat_1.RezervacijeModel
@{
    ViewData["Title"]="Rezervacije";
}

<div class="text-left">
        <h1>@ViewData["Title"]</h1>
    </div>



<form method="get">
    @foreach (var rezervacija in Model.SveRezervacije)
    {
        <div> 
            <p> Id vodica: @rezervacija.IdvodicaRez</p>
            <p>Id turiste: @rezervacija.IdturisteRez</p>
            <p> Broj Osoba: @rezervacija.BrojOsoba</p>
            <p> Datum izvodjenja: @rezervacija.DatumIzvodjenja</p>
            <a asp-page="./JednaRezervacija/" asp-route-id="@rezervacija.Idrezervacije">Prikazi detalje</a>
        </div>
    }
</form>