@page
@model MyApp.Namespace.TureModel
@{
    ViewData["Title"] = "Ture";
}

<form>
    <button class="btn btn-primary" asp-page="./AddTure">Dodaj novu turu</button>
</form>

<form method="post">

    <table class="table"> 
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Naziv</th>
            <th scope="col">Znamenitosti</th>
            <th scope="col">Vodic</th>
            <th scope="col">Datum odrzavanja</th>
            <th scope="col">Vreme odrzavanja</th>
            <th scope="col">Opis</th>
            <th></th>
            <th></th>
        </thead>
    @foreach(var ture in Model.SveTure)
        {  
            <tr>
                <td>@ture.IdTure</td>
                <td>@ture.NazivTure</td>
                <td></td>
                <td>@ture.IdVodicaTura</td>
                <td>@ture.DatumOdrzavanja</td>
                <td>@ture.VremeOdrzavanja</td>
                <td></td>
                <td> <a asp-route-id="@ture.IdTure" asp-page="./IzmeniTuru">Izmeni turu</a> </td>                
                <td> <button class="btn btn-danger" type="submit" asp-route-id="@ture.IdTure" asp-page-handler="Obrisi">Obrisi turu</button>  </td>
                <td> <button class="btn btn-success" type="submit" asp-route-id="@ture.IdTure" asp-page-handler="Rezervisi">Rezervisi turu</button> </td>
            </tr> 
        }
    </table>
</form>
