@page
@model Projekat.Areas.Znamenitosti.ViewOneModel
@{
	 ViewData["Title"] = "Znamenitost";
}

<div>
    <h4>Znamenitosti</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Znamenitosti.NazivZnamenitosti)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Znamenitosti.NazivZnamenitosti)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Znamenitosti.Lokacija)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Znamenitosti.Lokacija)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Znamenitosti.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Znamenitosti.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Znamenitosti.RadnoVreme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Znamenitosti.RadnoVreme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Znamenitosti.BrojTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Znamenitosti.BrojTelefona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Znamenitosti.CenaUlaznice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Znamenitosti.CenaUlaznice)
        </dd>
    </dl>
</div>