@page
@model KonacniProjekat.HallOfFameModel
@{

}
<ul class="nav nav-pills grey">
      @foreach (var kviz in Model.sviKvizovi)
      {
  <li class="nav-item">
    <div class="hof"> <a  class="nav-link" asp-page="./HallOfFame" asp-route-id="@kviz.IdKviza">@kviz.NazivKviza</a></div>
  </li>
      }
</ul>
<div style="overflow-y: scroll;  height: 300px;">
  <table class="table">
    <thead>
      <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Poeni</th>
      </tr>
    </thead> 
    <tbody>
@foreach (var hof in Model.HallOfFame)
{
  @foreach (var ucesnik in Model.Turisti)
  {
    if(ucesnik.IdTuriste==hof.IdTuristeHof)
    {  <tr>
        <td>@ucesnik.ImeTuriste</td>
        <td>@ucesnik.PrezimeTuriste</td>
        <td>@hof.Poeni</td>
      </tr>
  }
  }
}
</tbody>
</table>
</div>