@page
@model ProfilModel
@{
    ViewData["Title"] = "Profil";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@if(SessionClass.TipKorisnika=="T")
{
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#podaci">Podaci</a></li>
    <li><a data-toggle="tab" href="#rezervacije">Rezervacije</a></li>
    <li><a data-toggle="tab" href="#ocenjivanje">Ocenjivanje</a></li>
    <li><a data-toggle="tab" href="#hof">Kvizovi</a></li>
  </ul>

  <div class="tab-content">
    <div id="podaci" class="tab-pane fade in active">
      <p>Ime i prezime: @SessionClass.ImeKorisnika</p>
      <p>Datum rođenja: @Model.Korisnik.IdTuristeKNavigation.DatumRodjenja</p>
      <p>Email: @Model.Korisnik.IdTuristeKNavigation.Email</p>
      <p>Korisnicko ime: @Model.Korisnik.Username</p>
      <p>Lozinka: @Model.Korisnik.Password</p>
    </div>
    <div id="rezervacije" class="tab-pane fade">
      <h3>Rezervacije</h3>
      
<div>
    <table class="table table-bordered">
        <thead>
            <th>ID rezervacije</th>
            <th>Naziv ture</th>
            <th>Vodič</th>
            <th>Datum</th>
        </thead>
        <tbody>
            <form method="get">
                @foreach (var rezervacija in Model.SveRezervacije)
                {
                    <tr>
                        <td>@rezervacija.IdRezervacije</td>
                        <td>@rezervacija.IdTureRNavigation.NazivTure</td>
                        <td>@rezervacija.IdVodicaRNavigation.ImeVodica @rezervacija.IdVodicaRNavigation.PrezimeVodica</td>
                        <td>@rezervacija.Datum</td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
</div>

    </div>
    <div id="ocenjivanje" class="tab-pane fade">
      <h3>Ocene koje ste dali vodicima</h3>
     
<div>
    <table class="table table-bordered">
        <thead>
            <th>ID ocene</th>
            <th>Vodič</th>
             <th>Tura</th>
            <th>Ocene</th>
           
        </thead>
        <tbody>
            <form method="get">
                @foreach (var ocene in Model.SveOcene)
                {
                    <tr>
                        <td>@ocene.IdOcenjivanja</td>
                        <td>@ocene.IdVodicaONavigation.ImeVodica @ocene.IdVodicaONavigation.PrezimeVodica</td>
                        <td>@ocene.IdTureONavigation.NazivTure</td>
                        <td>@ocene.Ocena</td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
</div>
    </div>
    <div id="hof" class="tab-pane fade">
      <h3>HOF</h3>    
<div>
    <table class="table table-bordered">
        <thead>
            <th>Naziv kviza</th>
            <th>Poeni</th>
            <th>Datum rađenja</th>
        </thead>
        <tbody>
            <form method="get">
                @foreach (var hof in Model.SviHOF)
                {
                    <tr>
                        <td>@hof.IdKvizaHofNavigation.NazivKviza</td>
                        <td>@hof.Poeni</td>
                        <td>@hof.DatumRadjenja</td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
</div>
</div>
</div>
}
else if(SessionClass.TipKorisnika=="V")
{
    
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#podaci">Podaci</a></li>
    <li><a data-toggle="tab" href="#rezervacije">Rezervacije</a></li>
    <li><a data-toggle="tab" href="#ocenjivanje">Ocenjivanje</a></li>
    <li><a data-toggle="tab" href="#ture">Ture</a></li>
  </ul>

  <div class="tab-content">
    <div id="podaci" class="tab-pane fade in active">
      <p>Ime i prezime: @SessionClass.ImeKorisnika</p>
      <p>Datum rođenja: @Model.Korisnik.IdVodicaKNavigation.DatumRodjenja</p>
      <p>Licenca: @Model.Korisnik.IdVodicaKNavigation.Licenca</p>
      <p>Email: @Model.Korisnik.IdVodicaKNavigation.Email</p>
      <p>Korisnicko ime: @Model.Korisnik.Username</p>
      <p>Lozinka: @Model.Korisnik.Password</p>
    </div>
    <div id="rezervacije" class="tab-pane fade">
      <h3>Rezervacije</h3>
      
<div>
    <table class="table table-bordered">
        <thead>
            <th>ID rezervacije</th>
            <th>Naziv ture</th>
            <th>ID turiste</th>
            <th>Datum</th>
        </thead>
        <tbody>
            <form method="get">
                @foreach (var rezervacija in Model.SveRezervacije)
                {
                    <tr>
                        <td>@rezervacija.IdRezervacije</td>
                        <td>@rezervacija.IdTureRNavigation.NazivTure</td>
                        <td>@rezervacija.IdTuristeRNavigation.ImeTuriste @rezervacija.IdTuristeRNavigation.PrezimeTuriste</td>
                        <td>@rezervacija.Datum</td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
</div>

    </div>
    <div id="ocenjivanje" class="tab-pane fade">
      <h3>Ocene koje ste dobili</h3>
     
<div>
    <table class="table table-bordered">
        <thead>
            <th>ID ocene</th>
             <th>Naziv ture</th>
            <th>Ocene</th>
           
        </thead>
        <tbody>
            <form method="get">
                @foreach (var ocene in Model.SveOcene)
                {
                    <tr>
                        <td>@ocene.IdOcenjivanja</td>
                        <td>@ocene.IdTureONavigation.NazivTure</td>
                        <td>@ocene.Ocena</td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
</div>
    </div>
    <div id="ture" class="tab-pane fade">
      <h3>Ture</h3>    
<div>
    <table class="table table-bordered">
        <thead>
            <th>ID ture</th>
            <th>Naziv Ture</th>
            <th>Dan odrzavanja</th>
            <th>Vreme odrzavanja</th>
            <th>Mesto polaska</th>
        </thead>
        <tbody>
            <form method="get">
                @foreach (var ture in Model.SveTure)
                {
                    <tr>
                        <td>@ture.IdTure</td>
                        <td>@ture.NazivTure</td>
                        <td>@ture.DanOdrzavanja</td>
                        <td>@ture.VremeOdrzavanja</td>
                        <td>@ture.MestoPolaska</td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
</div>
</div>
</div>
}