@page
@model KonacniProjekat.TuraJednaModel
@{
}

<div class=text-center>
    <h1 class="display-4">@Model.Ture.NazivTure</h1>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" asp-page="./TuraSve">Prikazi listu tura</a></li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-5">
    <form method="get">

      <div><h4>Naziv:</h4> @Model.Ture.NazivTure</div>
      <div><h4>Dan održavanja:</h4> @Model.Ture.DanOdrzavanja</div>
      <div><h4>Vreme održavanja:</h4> @Model.Ture.VremeOdrzavanja</div>
      <div><h4>Mesto polaska:</h4> @Model.Ture.MestoPolaska</div>
      <div><h4>Kapacitet:</h4> @Model.Ture.Kapacitet</div>
      <div><h4>Opis:</h4> @Model.Ture.Opis</div>
      <div>
        <h4>Vodic:</h4> 
        <a asp-page="./VodicJedan" asp-route-id="@Model.VodicTure.IdVodica"> @Model.VodicTure.ImeVodica @Model.VodicTure.PrezimeVodica</a>
      </div>
      <div>
        <h4>Znamenitosti:</h4>
        <div  style="width: 1300px; height:450px; overflow-x: auto; white-space: nowrap; ">
        @foreach (var znamenitosti in Model.ZnamenitostiUTuri)
        {
          <a asp-page="./ZnamenitostJedna" asp-route-id="@Model.SessionId" asp-route-znamenitost="@znamenitosti.IdZnamenitosti">   
            <img class="img-fluid rounded mb-7 mb-md-0" src="images/znamenitosti/@znamenitosti.Slika" alt="" style="width:650px;height:400px;">
          </a>  
        }
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-7">
    <form method="get">
      <div><h4>Organizovanost ture: </h4>@Model.RezultatiAnkete.OrganizovanostTure</div>
      <div><h4>Fizička zahtevnost:</h4>@Model.RezultatiAnkete.FizickaZahtevnostTure</div>
      <div><h4>Društvena atmosfera:</h4>@Model.RezultatiAnkete.DrustvenaAtmosfera</div>
      <div><h4>Najzanimljivija znamenitost:</h4>@Model.RezultatiAnkete.NajinteresantnijaZnamenitost</div>
      <div><h4>Najmanje zanimljiva znamenitost:</h4>@Model.RezultatiAnkete.NajdosadnijaZnamenitost</div>
      <div><h4>Srednja ocena ture:</h4>@Model.RezultatiAnkete.KonacnaOcena</div>
    </form>
  </div>
</div>


