@page
@model KonacniProjekat.TuraOceniModel
@{
    ViewData["Title"] = "Radi anketu";
}

<div class="text-center">
    <h1 class="=display-4">Anketa za turu: @Model.OvaTura.NazivTure</h1>
</div>
 <i class='fas fa-arrow-circle-left'></i><a asp-page="./TuraSve" style="color:#84c1ff;">Lista tura</a>
<div class="formaKAK">
<form method="post">
    <ol type="1">
        <li>
            <label class="form-control select-fit-text">Tip Vaše ture:</label>
            <select class="form-control select-fit-text" asp-for="@Model.OcenaTure.TipTuriste">
                <option value="PorodicniOdmor">Porodicni odmor</option>
                <option value="OdmorSaPrijateljima">Odmor sa prijateljima</option>
                <option value="UčeničkaEkskurzija">Učenička ekskurzija</option>
                <option value="StudentskaEkskurzija">Studentska ekskurzija</option>
                <option value="PoslovniTip">Poslovni tip</option>
                <option value="NekiDrugiTip">Neki drugi tip</option>
            </select>
        </li>
        
        <li>
            <label class="form-control select-fit-text">Organizovanost ture:</label>
            <div class="centerAnketa">
                <div class="rangeAnketa">&#128078;<input class="custom-range border-0" type="range" id="orgTure" min="0" max="100" asp-for="@Model.OcenaTure.OrganizovanostTure" onchange="updateTextInputRangeOrganizovanostTure(this.value);"/> &#128077;</div>
                <input class="inputUzRangeAnketa" id="inputRangeOrganizovanostTure" readonly value="" />
            </div>
        </li>
        <li>
            <label class="form-control select-fit-text">Tura je bila fizički zahtevna:</label>
            <div class="centerAnketa">
                <div class="rangeAnketa">&#128555;<input class="custom-range border-0" type="range" id="fizZahtTure" min="0" max="100" asp-for="@Model.OcenaTure.FizickaZahtevnostTure" onchange="updateTextInputRangeFizickaZahtevnostTure(this.value);"/> &#128526;</div>
                <input class="inputUzRangeAnketa" id="inputRangeFizickaZahtevnostTure" readonly value="" />
            </div>
        </li>
        <li>
            <label class="form-control select-fit-text">Informisanost vodiča:</label>
            <div class="centerAnketa">
                <div class="rangeAnketa">&#128168;<input class="custom-range border-0" type="range" id="infVodica" min="0" max="100" asp-for="@Model.OcenaTure.InformisanostVodica" onchange="updateTextInputRangeInformisanostVodica(this.value);"/> &#128214;</div>
                <input class="inputUzRangeAnketa" id="inputRangeInformisanostVodica" readonly value="" />
            </div>         
        </li>
       
        <li>
            <label class="form-control select-fit-text">Najzanimljivija znamenitost u ovoj turi:</label>
            <select class="form-control select-fit-text" asp-for="IzabranaNajzanimljivijaZnamenitostString" style="display:block;" asp-items="Model.IzborZnamenitostiLista">
            </select>
        </li>
        <li>
            <label class="form-control select-fit-text">Najmanje zanimljiva znamenitost u ovoj turi:</label>
            <select class="form-control select-fit-text" asp-for="IzabranaNajdosadnijaZnamenitostString" style="display:block;" asp-items="Model.IzborZnamenitostiLista">
            </select>
        </li>
        <li>
            <label class="form-control select-fit-text">Komentar:</label>
            <div class="centerAnketa">
                <textarea class="form-control" style="width: 80%;" asp-for="@Model.OcenaTure.Komentar"> </textarea>
            </div>
        </li>
        <li>
            <label class="form-control select-fit-text">Konačna ocena ture:</label>
            <div class="centerAnketa">
                <div class="rangeAnketa">&#10134;<input class="custom-range border-0" type="range" id="konOcena" min="0" max="10" asp-for="@Model.OcenaTure.KonacnaOcena" onchange="updateTextInputRangeKonacnaOcena(this.value);"/> &#10133;</div>
                <input class="inputUzRangeAnketa" id="inputRangeKonacnaOcena" readonly value="" />
            </div>
        </li>
    </ol>

    <div>
        <button type="submit">Oceni turu</button>
    </div>
</form>
</div>