@page
@model KonacniProjekat.VodicJedanModel
@{
}

<form method="get">
<div class="cardVodic" style="text-align: center ">
  <img src="images/@Model.TrenutniVodic.Slika" style="width:50%;height:45%; display: block; margin-left: auto; margin-right: auto;">
  <h1>@Model.TrenutniVodic.ImeVodica @Model.TrenutniVodic.PrezimeVodica</h1>
   </br>
  <p class="title"> <img src="https://image.flaticon.com/icons/svg/1/1700.svg" style="width: 20px; height:20px">Licenca: @Model.TrenutniVodic.Licenca</p>
  <p class="title">Ocena: @Model.TrenutniVodic.Ocena <i class="fas fa-hand-holding-heart"></i></p>
  </br>
  </br>
  <p class="title" style="background-color:#f2f2f2; color: #8c8c8c"><i class="fas fa-phone-square-alt"></i> @Model.TrenutniVodic.BrojTelefona | <i class="fas fa-envelope-open-text"></i> @Model.TrenutniVodic.Email</p>
   </br>
  @if(SessionClass.TipKorisnika=="T")
  {
  <a asp-page="./VodicOceni" asp-route-id="@Model.TrenutniVodic.IdVodica" style="color:#84c1ff; font-size:19px">Oceni <i class="fas fa-thumbs-up"></i> <i class="fas fa-thumbs-down"></i></a>
  }
</div>
</form>

<div>
 <i class='fas fa-arrow-circle-left'></i><a asp-page="./VodicSvi" style="color:#84c1ff;">Lista vodiča</a>
</div>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>