@page
@model KonacniProjekat.VodicSviNaloziModel
@{
}

<div class="text-center">
    <h1 class="display-4">Vodiči</h1>
</div>
@if(SessionClass.TipKorisnika!="A")
{
 <div class="alert alert-danger" role="alert" style="text-align: center;">Nemate pristup ovoj stranici</div> 
}
else{
  <a asp-page="./VodicDodaj" style="color: black; font-size:20px;">Dodaj vodica<i class='fas fa-user-plus'></i></a>
<form method="post">
  <div class="row">
    @foreach (var vodic in Model.Vodici) 
{
<div class="cardVodic" style="height: 320px; background-color: #c2ccff; margin-bottom:5px;">
  <div class="column">
   <h3>Id: @vodic.IdVodica</h3>
    <p>Ime i prezime: @vodic.ImeVodica @vodic.PrezimeVodica</p>
    <p>Datum rođenja: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", vodic.DatumRodjenja))</p>
    <p>Pol: @vodic.Pol</p>
    <p>Broj telefona: @vodic.BrojTelefona</p>
    <p>Email: @vodic.Email</p>
    <p>Ocena: @vodic.Ocena</p>
    <button type="submit" asp-route-id="@vodic.IdVodica" asp-page-handler="Obrisi" style="position: absolute;left: 0; right: 0">Obrisi vodica <i class='fas fa-user-alt-slash'></i></button> 
  </div>
</div>
}
</form>
}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>