@page
@model KonacniProjekat.ZnamenitostJednaModel
@{
ViewData["Title"] = "Znamenitosti";
}

<div class=text-center>
    <h1 class="display-4">@Model.TrenutnaZnamenitost.NazivZnamenitosti</h1>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" asp-page="./ZnamenitostSve">Prikazi listu znamenitosti</a></li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-7">
    <form method="get">
      <div><h4>Naziv:</h4> @Model.TrenutnaZnamenitost.NazivZnamenitosti</div>
      <div><h4>Lokacija:</h4> @Model.TrenutnaZnamenitost.Lokacija</div>
      <div><h4>Opis:</h4> @Model.TrenutnaZnamenitost.Opis</div>
      <div><h4>Radno vreme:</h4> @Model.TrenutnaZnamenitost.RadnoVreme</div>
      <div><h4>Broj telefona:</h4> @Model.TrenutnaZnamenitost.BrojTelefona</div>
      <div><h4>Cena ulaznice:</h4> @Model.TrenutnaZnamenitost.CenaUlaznice</div>
      <div><h4>Tip:</h4> @Model.TrenutnaZnamenitost.Tip</div>
    </form>
  </div>
  <div class="col-md-5" style="overflow-y: scroll;  height: 500px;">
    @foreach (var slika in Model.Slike)
    {
         <img class="img-fluid rounded mb-5 mb-md-0" src="images/znamenitosti/@slika.Slika" alt="">
    }
  
  </div>
</div>