@page
@model KonacniProjekat.ZnamenitostSveModel
@{
ViewData["Title"]="Znamenitosti";
}

<div class="text-center">
    <h1 class="display-4">Znamenitosti</h1>
</div>


@if(SessionClass.TipKorisnika=="A")
{
<nav aria-label="Page navigation">  
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" asp-page="./ZnamenitostDodaj">Dodaj znamenitost</a></li>
    </ul>
</nav> 
}

<div class="row" style="margin: 0 -70px;">
@foreach (var znamenitost in Model.SveZnamenitosti) 
{
     <div class="column">
    <div class="flip-card-znamenitosti">
        <div class="inner-znamenitosti">
            <div class="front-znamenitosti">
                @if(@znamenitost.Slika!=null)
                {
                    <img src="images/znamenitosti/@znamenitost.Slika" alt="Avatar" style="width:300px;height:200px; border-radius: 50px 20px;  "> 
                }
            </div>
            <div class="back-znamenitosti">
                    <div class="text-center"><h2>@znamenitost.NazivZnamenitosti</h2></div>
                    <div><a asp-page="./ZnamenitostJedna" asp-route-id="@Model.SessionId" asp-route-znamenitost="@znamenitost.IdZnamenitosti">Vidi znamenitost</a></div>
                      @if(SessionClass.TipKorisnika=="A"){
                    <div><a asp-page="./ZnamenitostIzmeni" asp-route-id="@znamenitost.IdZnamenitosti">Izmeni znamenitost</a></div>
                    <div><a asp-page="./ZnamenitostObrisi" asp-route-id="@Model.SessionId" asp-route-znamenitost="@znamenitost.IdZnamenitosti">Obrisi znamenitost</a></div>
                      }
            </div>
        </div>
    </div>
    </div> 
}
</div>
